.body {
    background-color: rgba(0, 0, 0, 0.3);
}

.logo{
    position: fixed !important;
    top: 20px !important;
}

h1 {
    color: #CA6D18;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 90vh;
    width: 90% !important;
}

p {
    margin: 10px;
    font-weight: 500;
    text-align: center;
}