:root {
    --text: #000000;
    --background: #ffffff;
    --primary: #4e4e4e;
    --secondary: #dadada;
    --accent: #e97705;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
    height: 50px;

    position: sticky;
    top: 0;

    background-color: var(--primary);
    z-index: 1;
}

.brandname {
    color: var(--accent);
    text-decoration: none;
}

.brandname:hover {
    color: var(--secondary);
}

.nav-bar {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: 500;
    margin: 0 10px;
    padding: 0;
}

a:hover {
    color: var(--accent);
}

.menu-btn {
    height: 26px;
    width: 26px;
}

.bx {
    font-size: 26px;
    color: var(--accent);
}

.menu-items{
    visibility:hidden;
    position: absolute;
    left: 0px;
    top: 50px;
    list-style: none;
    background-color: var(--primary);
    width: 100%;
    padding-bottom: 10px;
}

.menu-items.show {
    visibility: visible;
    
}

.menu-item {
    margin: 0 0 5px 10px;
}

.hero {
    background-image: url(/images/banner-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.dark-layer {
    background: rgba(78,78,78, 0.3);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-picture .image {
    border-radius: 50%;
    border: 4px solid var(--accent);
    height: 200px;
    margin: 0 0 0 20px;
}

.introduction {
    margin: 20px;
}

.greeting {
    color: var(--secondary);
}

.name {
    background-color: var(--accent);
    color: var(--primary);
    font-size: 2.5rem;
    margin: 5px 0;
    padding: 0 5px;

    border-radius: 5px;
}

.position {
    font-size: 1.3rem;
    margin: 10px;
    color: var(--background);
}

.introductory-statement {
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary);
}

.resume-request {
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    background: transparent;
    color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 5px;
    padding: 2px 5px 4px 5px;
    margin-right: 10px;
    margin-left: 5px;
    text-wrap: nowrap;
}

.resume-request:hover {
    color: var(--secondary);
    border: 2px solid var(--secondary);
}

.main {
    position: relative;
    top: calc(100vh - 50px);
    margin-bottom: calc(100vh - 50px);
}

.main section {
    padding: 50px 20px 0 20px;
}

.main h2 {
    padding: 10px 0;
}


.projects a {
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 3px;
}

.projects a {
    color: var(--primary);
}

.projects a:hover {
    color: var(--accent);
}

.projects .heading {
    display: flex;
    justify-content: space-between;
}

.project-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.project-grid div img {
    width: 100%;
    max-width: 500px;
}

.project .badges {
    font-size: 10px;
    font-weight: 500;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.project .badges p {
    padding: 0 4px 2px 4px;
    border-radius: 6px;
}

.project .badges .bt1 {
    background-color: #464646;
    color: #ffffff;
}

.project .badges .bt2 {
    background-color: #000000;
    color: cyan;
}
.project .badges .bt3 {
    background-color: green;
    color: #ffffff;
}

.prject-description {
    font-size: 15px;
    font-weight: 500;
}

.skills h3 {
    text-align: center;
    margin: 10px;
}

.skills ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
}

.skills li {
    list-style: none;
    font-weight: 600;
    font-size: 14px;
}


.qualification {
    margin-bottom: 10px;
}

.qualification a {
    color: var(--primary);
    margin: 0;
}

.qualification a:hover {
    color: var(--accent);
}

.experiences {
    margin-bottom: 20px;
}

.experience {
    margin-bottom: 10px;
}

.contect {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contect article {
    margin: 10px;
    width: calc(100vw -20px);
}

.contect h3, .contect h4 {
    margin: 5px 0;
    color: var(--primary);
}
.contect span {
    color: var(--accent);
}

.form h2 {
    color: var(--accent);
    text-align: center;
}

.inputs {
    display: grid;
    gap: 8px;
    grid-template-areas: 
        'name nam nam nam'
        'email em em em'
        'subject subj subj subj'
        'msg msg msg msg' 
        'msg msg msg msg'
        'btn btn btn btn';
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
}

form .sender-name {grid-area: name;}
form #name {
    grid-area: nam;
    width: 230px;
}

form .sender-email {grid-area: email;}
form #email {
    grid-area: em;
    width: 230px;
}

form .subject {grid-area: subject;}
form #subject {
    grid-area: subj;
    width: fit-content;
}

form .message {grid-area: msg; padding: 5px;}

.inputs input, .inputs select, .inputs textarea {
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

form .submitBtn {
    grid-area: btn;
    display: flex;
    justify-content: center;
}

#submitBtn {
    border: 2px solid var(--accent);
    padding: 2px 5px;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--accent);
    color: var(--background);
    cursor: pointer;
}

#submitBtn:hover {
    background-color: var(--secondary);
    color: var(--accent);
}

.my-location , .my-email {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.contact-information .bx, .follow-me .bx{
    color: var(--primary);
}

.follow-me h3, .follow-me p {
    display: none;
}

.social {
    text-align: center;
}

.social a {
    text-decoration: none;
    color: var(--primary);
    margin: 0 5px;
}

footer {
    background-color: var(--primary);
    height: 30px;
    text-align: center;
}

footer p {
    font-size: 14px;
    padding: 5px;
}

footer p span {
    color: var(--secondary);
}

.overlay.show {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

dialog {
    margin: 30vh auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

dialog div i {
    float: right;
}

.resume-request-form {
    display: flex;
    flex-direction: column;
}


/* Responsiveness */

/* Tablet */
@media screen and (min-width: 500px) {
    .name {
        font-size: 3rem;
    }
}

/* Laptop and Desktop */
@media screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }

    .menu-items {
        visibility: visible;
        position: relative;
        top: 3px;
        background-color: var(--primary);
        padding: 0px;
        display: flex;
    }

    .dark-layer {
        flex-direction: row;
    }

    .profile-picture .image {
        height: 300px;
    }

    .greeting {
        font-size: 26px;
    }

    .name {
        font-size: 4rem;
    }

    .position {
        font-size: 2rem;
    }

    .introductory-statement {
        font-size: 18px;
        color: var(--secondary);
    }

    .project-grid {
        gap: 20px;
        grid-template-columns: 1fr 2fr;
    }

    .prject-description {
        font-size: 18px;
    }

    .skills h3 {
        font-size: 1.5rem;
        margin: 20px 0 10px 0;
    }
    
    .skills ul {
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 20px;
    }
    
    .skills li {
        list-style: none;
        font-weight: 600;
        font-size: 18px;
    }
    
    .interests h4, .interests p{
        font-size: larger;
    }

    p {
        font-size: 18px;
    }
    
}