@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --clr-dark: #000000;
    --clr-primary: #808080;
    --clr-secondary: #e6e6e6;
    --clr-light: #ffffff;
}


* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

.body {
    font-family: "Poppins", sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-primary);
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--clr-light);
}